body {
  font-family: monospace;
  margin: 0px;
  background: #756c4a;
}

.img-topo {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.img-topo img {
  width: 500px;
}

.desc {
  font-size: 20px;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #111111;
  border: 3px solid rgb(53, 45, 36);
  margin-bottom: 20px;
}

.navbar h2 {
  justify-self: center;
}

.navbar a {
  text-decoration: none;
  color: #756c4a;
}

.navbar a:hover {
  color: #f5e19c;
}

.centro {
  text-align: center;
  margin-top: 2cap;
}

.banner {
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-self: center;
  background: #2e2e2e;
  border-radius: 5px;
  padding: 20px;
  max-width: 1000px;
  margin-bottom: 30px;
}

.grid-item {
  padding: 10px;
  border: 2px solid #4d3f30;
  color: #c2c0be;
  font-size: 15px;
}

.grid-descricao {
  display: grid;
  grid-template-columns: auto;
}

.takealook a {
  text-decoration: none;
  color: #0f0d08;
  background-color: #888787;
  padding: 5px;
  border-radius: 5px;
}

.takealook a:hover {
  color: rgb(167, 236, 161);
}

.rights {
  background: #111111;
  padding: 15px;
  margin-bottom: 30px;
}

.rights p {
  font-size: 15px;
  color: #756c4a;
  text-align: center;
}

#cookies {
  background: #fff;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: 20px;
  border-radius: 5px;
  opacity: 70%;
}

#cookies p {
  text-align: center;
}
